.password-input {
    margin-bottom: 40px; /* Increase margin-bottom for more spacing */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 7px;
  }
  
  .button {
    padding: 12px 24px; /* Increase padding for larger button size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: black;
    color: white;
    margin-top: 80px; /* Increase margin-top for more spacing */
  }
  
  .file-content {
    margin-top: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .log-content {
    margin-top: 20px;
    font-size: 18px;
  }
